@import url(../css/contactostyle.css);
@import url(../css/nosotrosstyle.css);
@import url(../css/indexstyle.css);

/*------------------------------querys ------------- */

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos con un ancho de pantalla de 768px o menos */

  /* Estilos para la sección 'contenido-de-central' */
  .contenido-de-central .titulo-contacto {
    font-size: 2rem;
  }

  /* Estilos para la sección 'iconos-nosotros' */
  .iconos-nosotros {
    display: block;
  }

  .iconos-nosotros h3 {
    font-size: 1.8rem;
  }

  .iconos-nosotros p {
    padding: 20px;
    font-size: 1.5rem;
  }

  /* Estilos para las imágenes dentro de '.anuncio picture' */
  .anuncio picture {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .anuncio picture img {
    padding: 20px;
  }

  /* Estilos para '.iconos-caracteristicas' dentro de '.contenido-anuncio' */
  .contenido-anuncio .iconos-caracteristicas {
    display: flex;
    justify-content: center;
  }

  .iconos-caracteristicas li {
    padding: 15px;
  }

  /* Estilos para el título '.titulo-negro' */
  .titulo-negro {
    font-size: 2rem;
    position: relative;
    animation: bounce 20s infinite;
  }

  /* Estilos para '.contenedor-anuncios' */
  .contenedor-anuncios {
    display: block;
    align-items: center;
  }

  /* Estilos para '.anuncio' */
  .anuncio {
    margin-bottom: 20px;
    text-align: center;
    border: none;
  }

  /* Estilos para el título en '.header' */
  .header h1 {
    font-size: 1.3rem;
    display: flex;
    margin-left: 20px;
  }

  /* Estilos para '.header' (el encabezado) */
  .header {
    background-image: url(../img/carteleria/nicolinoheader.jpg);
    min-height: 25rem;
    padding: 1rem 1rem 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Estilos para la barra de navegación '.barra' */
  .barra {
    margin: 10px;
    font-size: 15px;
  }

  /* Estilos para el logotipo en '.barra img' */
  .barra img {
    width: 150px;
  }

  /* Estilos para la navegación en '.navegacion' */
  .navegacion {
    flex-direction: block;
  }

  /* Estilos para los elementos de navegación en '.navegacion a' */
  .navegacion a {
    font-size: 10px;
  }

  /* Estilos para la sección de 'Nosotros' */
  .contenido-nosotros {
    grid-template-columns: 1fr;
  }

  /* Estilos para las imágenes en '.imagen' */
  .imagen {
    max-width: 100%;
    height: auto;
    padding: 20px;
  }

  /* Estilos para el texto en '.texto-nosotros' */
  .texto-nosotros {
    font-size: 2rem;
    max-width: 100%;
    height: auto;
  }

  /* Estilos para '.contenedor-seccion' */
  .contenedor-seccion {
    display: block;
    max-width: 80%;
    margin: 0 auto;
  }

  /* Estilos para el formulario '.formulario' */
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Estilos para las etiquetas 'label' */
  label {
    font-size: 1.2rem;
  }

  /* Estilos para los campos de entrada y textarea */
  input:not([type="submit"]):not([type="radio"]),
  textarea {
    padding: 0.3rem;
    font-size: 1.2rem;
    width: 95%;
  }

  /* Estilos para el botón 'Enviar' */
  .botones-contenido {
    width: 100%;
    margin: 12px 0;
  }

  /* Estilos para los títulos 'titulo-contacto' y 'h2' */
  .titulo-contacto,
  h2 {
    font-size: 2rem;
  }
}

/* Animación 'bounce' para '.titulo-negro' */
@keyframes bounce {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20%, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-20%, 0);
  }
}

.close {
  position: absolute;
}

.modal {
  display: none;

  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0;
  padding-top: 10px;
  width: 40%;
  height: auto;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;

  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
#modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.boton-cerrar-modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.boton-cerrar-modal .close:hover,
.boton-cerrar-modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
