html {
  font-size: 62.5%; /* paul irish ... con esta configuracion logramos que los  rem sean equivalentes 1rem 10px */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: rgb(238, 237, 235);
}
h1 {
  color: #ffffff;
}

.header {
  /* header  */
  background-image: url(img/carteleria/nicolinoheader.jpg); /* dandole una imagen de fondo al header*/
  min-height: 35rem; /* dandole un alto minimo*/
  padding: 1rem 1rem 0;
  position: relative; /* posicion relativa ocupa el espacio que le corresponde  */
  background-size: cover; /* Ajustar la imagen para que cubra todo el elemento */
  background-repeat: no-repeat; /* Evitar la repetición de la imagen */
  background-position: center; /* centrando la imagen */
}

.headerPages {
  /* header  */
  background-image: none;
  background-color: #333333;
  min-height: 10rem; /* dandole un alto minimo*/
  padding: 1rem 1rem 0;
  position: relative; /* posicion relativa ocupa el espacio que le corresponde  */
  background-size: cover; /* Ajustar la imagen para que cubra todo el elemento */
  background-repeat: no-repeat; /* Evitar la repetición de la imagen */
  background-position: center; /* centrando la imagen */
}

.edificio1 {
  width: 250px;
  height: 164px;
}

.edificio2 {
  width: 250px;
}

.barra img {
  /* clase barra moficando img*/
  margin-top: -10px;
  border-radius: 10px;
  width: 250px;
}

.barra {
  /* barra contenedora */
  display: flex; /* flex */
  justify-content: space-between; /* espacio entre ambas */
  margin-right: 10rem;
  margin-left: 15rem;
  margin-top: 15px;
}

.navegacion a {
  /* Estilos normales */
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 10px;
  font-weight: bolder;
  margin-right: 35px;
  transition: background-color 0.3s, color 0.3s; /* Agregar transición suave */
}

.navegacion a:hover {
  /* Estilos cuando el cursor está encima */
  background-color: #72816f; /* Cambia el fondo al color deseado */
  color: #ffffff; /* Cambia el color del texto */
}

.contenedor h1 {
  /* clase contenedor selector de titulo h1 */
  display: flex; /* habilita flex */
  margin-left: 15rem; /* margenes */
  margin-top: 15rem;
}

.titulo-negro {
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
  padding: 10px;
  margin-bottom: 45px;
  font-size: 2rem;
}

.iconos-nosotros {
  display: flex;
  justify-content: center;
}

.iconos-nosotros h3 {
  font-size: 2rem;
}

.iconos-nosotros p {
  padding: 20px;
  font-size: 14px;
}

.icono,
.h3,
.p {
  text-align: center;
}

.titulo-seccion {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.anuncio {
  background-color: #e6e7e4;
  border: black solid 1px;
}
/* Establecer los elementos .contenedor-anuncios como un flex container */
.contenedor-anuncios {
  display: flex;
  justify-content: space-around;
}

.contenido-anuncio {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.iconos-caracteristicas {
  display: flex;
  list-style: none;
  padding: 5px;
  justify-content: space-around;
}

.iconos-caracteristicas p {
  display: flex;
  justify-content: space-around;
}

.botones {
  text-align: center; /* Centrar el contenido horizontalmente */
}

.botones-contenido {
  display: inline-block;
  margin: 12px;
  background-color: #72816f;
  color: #dbd9d9;
  font-weight: bold;
  padding: 4px;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
}

.botones-contenido:hover {
  background-color: #c0b18f;
  color: black;
}

.imagen-central {
  background-image: url(img/carteleria/oficinaVistaHorizonte.jpg);
  height: 200px;
  background-size: cover; /* Ajustar la imagen para que cubra todo el elemento */
  background-repeat: no-repeat; /* Evitar la repetición de la imagen */
  background-position: center; /* centrando la imagen */
  margin-top: 10px;
  padding: 1rem 1rem 0;
  margin-bottom: 20px;
}

.ver-mas {
  /* boton bajo casas y departamentos */
  text-align: right;
  margin-top: 10px;
}

.contenido-de-central h3 {
  font-size: 2.8rem;
  font-style: oblique;
  text-shadow: 3px 4px 5px rgba(255, 255, 255, 1);
}

.contenido-de-central {
  margin-top: 50px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer,
.contenedor-footer {
  /*seleccion de clase footer y contenedor de footer  */
  background-color: #333333;
  padding: 0.5rem;
}

.footer p {
  /* contenedor de copy*/
  color: #ffffff;
  text-align: center;
}

/*------------------------------querys ------------- */

@media screen and (max-width: 768px) {
  .contenido-de-central .titulo-contacto {
    font-size: 2rem;
  }

  .anuncio picture {
    display: block; /* Hacer que la imagen sea un bloque para ocupar todo el ancho disponible */
    max-width: 100%; /* Asegurarse de que la imagen no sea más ancha que su contenedor */
  }

  .anuncio picture img {
    padding: 20px;
  }

  .contenido-anuncio .iconos-caracteristicas {
    display: flex;
    justify-content: center;
  }

  .iconos-caracteristicas li {
    padding: 15px;
  }

  .contenedor-anuncios {
    display: block; /* Cambiar el valor de display a "block" para que los anuncios se muestren uno debajo del otro */
    align-items: center;
  }

  .anuncio {
    margin-bottom: 20px; /* Añadir un margen inferior para separar los anuncios */
    text-align: center; /* Alinear el contenido de .anuncio al centro */
    border: none;
  }
  /* Cambiar el tamaño del encabezado principal */
  .header h1 {
    font-size: 2rem;
    display: flex;
  }
  /* Ajustar márgenes en la barra de navegación */
  .barra {
    margin: 10px;
    font-size: 15px;
  }

  /* Cambiar el tamaño del logotipo en la barra de navegación */
  .barra img {
    width: 150px;
  }

  /* Modificar la disposición de la navegación en el encabezado */
  .navegacion {
    flex-direction: block; /* Apilar los elementos verticalmente */
  }

  /* Cambiar el tamaño de fuente en los elementos de navegación */
  .navegacion a {
    font-size: 10px;
  }
}

.tituloPaginaNosotros {
  color: black;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 3rem;
}

.img-Nosotros {
  border-radius: 20px;
  max-width: 100%; /* Ancho máximo para que la imagen se ajuste de manera proporcional */
  height: auto; /* Mantener la proporción de aspecto original de la imagen */
}
.imagen {
  display: flex;
  justify-content: right;
  grid-column: 1;
  align-items: center;
  padding: 20px;
}

.contenido-nosotros {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Crea dos columnas con el mismo ancho */
  grid-gap: 20px; /* Espacio entre las columnas */
}

.texto-nosotros blockquote {
  font-weight: bolder;
  font-size: 1.6rem;
  margin: 0;
  padding: 1rem 0 1rem 0;
}

.texto-nosotros {
  font-size: 1.6rem; /* Tamaño de fuente predeterminado para el texto */
  text-align: center; /* Texto centrado por defecto */
  max-width: 70%;
  line-height: 2;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .contenido-nosotros {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas más pequeñas */
  }

  .imagen {
    max-width: 100%;
    height: auto;
    padding: 20px;
  }

  .texto-nosotros {
    font-size: 2rem;
    max-width: 100%;
    height: auto;
  }
}

body {
  background-color: rgb(238, 237, 235);
}
main {
  margin-bottom: 86px;
}

.titulo-negro {
  position: relative;
  animation: bounce 20s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20%, 0);
  }
  50% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(-20%, 0);
  }
}
